html{
    display:flex;
    justify-content: center;
}
body{
    max-width:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(17, 17, 17);
    color:rgb(226, 226, 226)
}
.Posts-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid grey;
    border-right:1px solid grey;
    padding: 0vh 30px;
    background-color:rgb(29, 29, 29)
}
.center-image{
    align-self:center;
    justify-self:center;
}
.list-dot{
    border-radius:100%;
    width:100px;
    height:100px;
    background-color:grey;
}
a{
    color:rgb(94, 165, 147)
}